langchain-openai>=0.3.28
langchain>=0.3.26
langchain-community>=0.3.27
python-dotenv>=1.1.1
unstructured>=0.18.5
langchain-milvus>=0.2.1
langchain-huggingface>=0.3.0
sentence-transformers>=5.0.0
wikipedia>=1.4.0
fastapi>=0.116.1
uvicorn>=0.35.0
streamlit>=1.46.1